.form-signUp{
    background-color: rgb(109, 109, 255);
    padding-right: 40%;
    padding-top: 6%;
    padding-left: 35%;
    padding-bottom: 20%;
  }  
  .form-label{
      color: white;
      font-size: 22px;
  }
  .btn-danger{
    padding:7px 30px;
    font-size: 20px;
  }
  .btn-primary {
      padding:7px 30px;
      font-size: 20px;
  }
  .btn-danger{
      margin-left: 27%;
  }
  